{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="wall">
   <div class="window">
      <div class="container">
         <div class="row">

            <!-- Logo -->
            <div class="col-12 py-5 text-center">
               <div class="logo js-tilt" data-tilt>
                  <img
                     src="{% static 'images/vox-logo.png' %}"
                     alt="Vox logo"
                     class=""
                  />
               </div>
            </div>

            <!-- Employee Portal -->
            <div class="col-10 col-sm-8 pb-5 m-auto">
               <h4 class="pb-5 text-center">Employee Portal</h4>

               <form class="form-width m-auto" action="{% url 'register' %}">
                  <input type="submit" value="Enter" class="btn mt-4" />
               </form>

            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
