{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="wall">
   <div class="window">
      <div class="container">
         <div class="row g-0">
            
            <!-- Logo -->
            <div class="col-12 py-5 text-center">
               <div class="logo js-tilt" data-tilt>
                  <img
                     src="{% static 'images/vox-logo.png' %}"
                     alt="Vox logo"
                     class=""
                  />
               </div>
            </div>

            <!-- Employee Login -->
            <div class="col-10 col-sm-8 pb-5 m-auto">

               {% if user.is_authenticated %}

                  <h4 class="text-center">Hi, {{ user.username | title }}</h4><!-- pb-5 -->

                  <!-- Message Alert -->
                  <div class="alert-area">
                     {% include 'partials/_messages.html' %}
                  </div>

                  <div class="form-width m-auto">

                     <a href="{% url 'create' %}">
                        <button type="button" class="btn-outline">
                           Create a new customer
                        </button>
                     </a>

                     <a href="{% url 'search' %}">
                        <button type="button" class="btn-outline">
                           Modify an existing customer
                        </button>
                     </a>

                     <a href="{% url 'display' %}">
                        <button type="button" class="btn-outline">
                           Display all customers
                        </button>
                     </a>

                     <form action="{% url 'logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="submit" value="Logout" class="btn" />
                     </form>

                  </div>

               {% else %}

                  <p class="pb-5 text-center">
                     Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> first.
                  </p>

               {% endif %}

            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
