{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="wall">
   <div class="window">
      <div class="container">
         <div class="row g-0">
            
            <!-- Logo -->
            <div class="col-12 py-5 text-center">
               <div class="logo js-tilt" data-tilt>
                  <img
                     src="{% static 'images/vox-logo.png' %}"
                     alt="Vox logo"
                     class=""
                  />
               </div>
            </div>

            <!-- Employee Login -->
            <div class="col-10 col-sm-8 pb-5 m-auto">
               <h4 class="pb-5 text-center">Hi, {{ employee.username }}</h4>

               <!-- Message Alert -->
               {% include 'partials/_messages.html' %}

               <form action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                     <input
                        type="text"
                        name="username"
                        class="form-control"
                        placeholder="Username"
                        required=""
                     />
                  </div>
                  <div class="form-group">
                     <input
                        type="password"
                        name="password"
                        class="form-control"
                        placeholder="Password"
                        required=""
                     />
                  </div>

                  <input type="submit" value="Login" class="btn" />

               </form>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}




{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="wall">
   <div class="window">
      <div class="container">
         <div class="row">

            <!-- Logo -->
            <div class="col-12 py-5 text-center">
               <div
                  class="logo js-tilt"
                  data-tilt
               >
                  <img
                     src="{% static 'images/vox-logo.png' %}"
                     alt="Vox logo"
                     class=""
                  />
               </div>
            </div>

            <!-- Customers -->
            <div class="d-none d-lg-block col-lg-3"></div>
            <div class="pb-5 text-center">
               <h4 class="pb-5 text-center">Hi, {{ employee.username }}</h4>
               <div class="form-width m-auto">
                  <button type="button" class="btn-outline">
                     Create a new customer
                  </button>

                  <button type="button" class="btn-outline">
                     Modify existing customer
                  </button>

                  <button type="button" class="btn-outline">
                     Display all customers
                  </button>

                  <input type="submit" value="Logout" class="btn mt-5" />

               </div>
            </div>
            <div class="d-none d-lg-block col-lg-3"></div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
