{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="wall">
   <div class="window">
      <div class="container">
         <div class="row">

            <!-- Logo -->
            <div class="col-12 py-5 text-center">
               <div class="logo js-tilt" data-tilt>
                  <img
                     src="{% static 'images/vox-logo.png' %}"
                     alt="Vox logo"
                     class=""
                  />
               </div>
            </div>

            <!-- Create Customer -->
            <div class="col-10 col-sm-8 pb-5 m-auto">

               {% if user.is_authenticated %}
               
                  {% if results %}
                     {% for result in results %}
                        <h4 class="text-center">Hi, {{ user.username | title }}</h4>
                        <h3 class="pb-5 text-center page-title">Modify Customer</h3>

                        <form action="{% url 'modify' %}" method="POST"><!-- MODIFY -->
                           {% csrf_token %}
                           <div class="form-group">
                              <p>User ID</p>
                              <input
                                 type="text"
                                 name="user_id"
                                 class="form-id"
                                 value="{{ user.id }}"
                                 readonly
                              />
                           </div>
                           <div class="form-group">
                              <p>Customer ID</p>
                              <input
                                 type="text"
                                 name="customer_id"
                                 class="form-id"
                                 value="{{ result.customer_id }}"
                                 readonly
                              />
                           </div>
                           <div class="form-group">
                              <p>Company Name</p>
                              <input
                                 type="text"
                                 name="company_name"
                                 class="form-info"
                                 value="{{ result.company_name }}"
                              />
                           </div>
                           <div class="form-group">
                              <p>Customer Email</p>
                              <input
                                 type="email"
                                 name="customer_email"
                                 class="form-info"
                                 value="{{ result.customer_email }}"
                              />
                           </div>
                           <div class="form-group">
                              <p>Customer Phone</p>
                              <input
                                 type="text"
                                 name="customer_phone"
                                 class="form-info"
                                 value="{{ result.customer_phone }}"
                              />
                           </div>

                           <input type="submit" value="Modify" class="btn mt-4" />

                        </form>

                        <form id="delete-customer" action="{% url 'delete' %}" method="POST"><!-- DELETE -->
                           {% csrf_token %}

                           <input
                              type="text"
                              name="user_id"
                              class="form-id"
                              value="{{ user.id }}"
                              hidden
                           />
                           <input
                              type="text"
                              name="customer_id"
                              class="form-id"
                              value="{{ result.customer_id }}"
                              hidden
                           />

                           <p class="text-center">
                              <a
                                 href="#/"
                                 class="link-danger"
                                 id="prompt-delete"
                                 onclick="promptDelete()"
                                 >Delete</a
                              >
                              <span id="answer-yes" style="display: none;">
                                 Are you sure?

                                 <a href="#" class="link-danger" onclick="document.getElementById('delete-customer').submit();"> Yes</a>.

                              </span>
                           </p>

                        </form>
                        <p class="text-center pt-2">
                           <a href="{% url 'customers' %}">Cancel</a>
                        </p>

                     {% endfor %}

                  {% else %}

                     <h4 class="text-center">Hi, {{ user.username | title }}</h4>
                     <h3 class="pb-5 text-center page-title">Modify Customer</h3>

                     <p>No data to display. <a href="#" onclick="showSearch()">Try again?</a></p>

                     <!-- Search by Customer ID -->
                     <div id="show-search" style="display: none; text-align: center;">

                        <form action="{% url 'modify' %}" method="GET">
                           <p>Search by Customer ID:</p>
                           <input
                              type="text"
                              name="customer_id"
                              class="form-info w-25"
                           />
                           <input type="submit" value="Search" class="submit-search">
                        </form>

                        <p class="text-center pt-2">
                           <a href="{% url 'customers' %}">Cancel</a>
                        </p>

                     </div>

                     <!-- <p class="text-center pt-2">
                        <a href="{% url 'customers' %}">Cancel</a>
                     </p> -->

                  {% endif %}

               {% else %}

                  <p class="pb-5 text-center">
                     Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> first.
                  </p>

               {% endif %}

            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
