/* 

   FONTS:
      font-family: 'Poppins', sans-serif
      https://fonts.google.com/specimen/Poppins

   COLORS:
      green: #05ab00
      button green: #2CB700
      button hover green: #57b846
      light green: #91d400
      yellow: #bfee00
      lighter grey: #e6e6e6
      light grey: #bfbfbf
      grey: #666

*/

/* FONT FACES */

@font-face {
   font-family: Poppins-Regular;
   src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
   font-family: Poppins-Medium;
   src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
   font-family: Poppins-Bold;
   src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
   font-family: Montserrat-Bold;
   src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

/* CONTENT */

body, html {
   font-family: Poppins-Regular, sans-serif;
}

a {
   text-decoration: none;
   color: #57b846;
}

a:hover {
   color: #05ab00;
}

h3, h4, p {
   font-family: Poppins-Bold, sans-serif;
   color: #81898F;
}

.page-title {
   color: #2CB700;
}

.wall {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background: linear-gradient(45deg, #05ab00, #91d400);
}

.window {
   max-width: 70vw;
   background: #fff;
   border-radius: 15px;
   margin: 5%;
}

.container {
   max-width: 960px;
}

.btn {
   font-family: Poppins-Bold, sans-serif;
   color: #fff;
   letter-spacing: 4%;
   width: 100%;
   margin: 3% 0;
   border-radius: 25px;
   border: none;
   height: 50px;
   background: #2CB700;
   text-transform: uppercase;
}

.btn:hover {
   background: #05ab00;  
   color: #fff;
}

.btn-outline {
   font-family: Poppins-Bold, sans-serif;
   background-color: #fff;
   color: #57b846;
   letter-spacing: 4%;
   width: 100%;
   margin: 3% 0;
   border-radius: 25px;
   border: 4px solid #57b846;
   height: 50px;
   text-transform: uppercase;
}

.btn-outline:hover {
   color: #05ab00;
   border: 4px solid #05ab00;
}

.form-width {
   width: 300px;
}

.form-group {
   padding: 3% 0;
}

.form-group p {
   margin-bottom: 0;
   padding-bottom: 2.5%;
}

.form-control, .form-id, .form-info {
   font-family: Poppins-Medium, sans-serif;
}

.form-control {
   font-size: 15px;
   color: #666;
   background: #e6e6e6;
   border-radius: 25px;
   border: none;
   height: 50px;
   padding-left: 8%;
}

.form-control:focus {
   outline: 0;
   box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.form-control::placeholder {
   color: #bfbfbf !important;
}

.form-id {
   font-size: 18px;
   font-weight: bold;
   color: #2CB700;
   width: 100%;
   outline: none;
   border-style: none;
}

.form-info {
   outline: none;
   color: rgb(31, 31, 31);
   background-color: #fff;
   border-bottom: 3px solid #81898F;
   border-top-style: none;
   border-right-style: none;
   border-left-style: none;
   width: 100%;
}

.form-info:focus {
   border-width: 3px;
   border-bottom-style: solid;
   border-image: linear-gradient(to right, #05ab00, #91d400) 1;
}

/* ALERTS */

.alert-area {
   height: 56px;
   margin-top: 5%;
   margin-bottom: 5%;
}

/* .alert {
   border: none;
   border-radius: 0;
}

.alert-success, .alert-danger, .alert-warning, .alert-info {
   background-color: #fff;
   border-color: #fff;
} */

/* PAGINATOR */

.pagination {
   justify-content: center;
}

.page-item.active .page-link {
   background-color: #2CB700;
   border-color: #2CB700;
}

.page-link {
   color: #2CB700;
   border: none;
   border-radius: 5px;
}


/* MEDIA QUERIES */

@media (max-width: 992px) {
   .window {
      max-width: 90vw;
   }
}