/* 

   FONTS:
      font-family: 'Poppins', sans-serif
      https://fonts.google.com/specimen/Poppins

   COLORS:
      green: #05ab00
      hover green: #57b846
      light green: #91d400
      yellow: #bfee00
      lighter grey: #e6e6e6
      light grey: #aaa
      grey: #666

*/

/* FONT FACES */

@font-face {
   font-family: Poppins-Regular;
   src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
   font-family: Poppins-Medium;
   src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
   font-family: Poppins-Bold;
   src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
   font-family: Montserrat-Bold;
   src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

/* CONTENT */

body, html {
   font-family: Poppins-Regular, sans-serif;
}

a {
   text-decoration: none;
}

h4 {
   font-family: Poppins-Bold, sans-serif;
   color: #81898F;
}

.wall {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background: linear-gradient(45deg, #05ab00, #91d400);
}

.window {
   max-width: 70vw;
   background: #fff;
   border-radius: 15px;
   margin: 5%;
}

.container {
   max-width: 960px;
}

.btn {
   font-family: Poppins-Bold, sans-serif;
   color: #fff;
   letter-spacing: 4%;
   width: 100%;
   margin: 3% 0;
   border-radius: 25px;
   border: none;
   height: 50px;
   background: #57b846;
   text-transform: uppercase;
}

.btn:hover {
   background: #05ab00;
   color: #fff;
}

.btn-outline {
   font-family: Poppins-Bold, sans-serif;
   background-color: #fff;
   color: #57b846;
   letter-spacing: 4%;
   width: 100%;
   margin: 3% 0;
   border-radius: 25px;
   border: 4px solid #57b846;
   height: 50px;
   text-transform: uppercase;
}

.btn-outline:hover {
   color: #05ab00;
   border: 4px solid #05ab00;
}

.form-width {
   width: 300px;
}

.form-group {
   padding: 3% 0;
}

.form-control {
   font-family: Poppins-Medium, sans-serif;
   font-size: 15px;
   color: #666;
   background: #e6e6e6;
   border-radius: 25px;
   border: none;
   height: 50px;
   padding-left: 8%;
}

.form-control:focus {
   /* background-color: #fff; */
   /* border-color: #A1A6AA; */
   outline: 0;
   box-shadow: 0 0 0 0.25rem #A1A6AA;
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
   .window {
      max-width: 90vw;
   }
}