{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="wall">
   <div class="window">
      <div class="container">
         <div class="row g-0">
            
            <!-- Logo -->
            <div class="col-12 py-5 text-center">
               <div class="logo js-tilt" data-tilt>
                  <img
                     src="{% static 'images/vox-logo.png' %}"
                     alt="Vox logo"
                     class=""
                  />
               </div>
            </div>

            <!-- Employee Login -->
            <div class="col-10 col-sm-8 pb-5 m-auto">
               <h4 class="pb-5 text-center">Employee Login</h4>

               <!-- Message Alert -->
               {% include 'partials/_messages.html' %}

               <form action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                     <input
                        type="text"
                        name="username"
                        class="form-control"
                        placeholder="Username"
                        required=""
                     />
                  </div>
                  <div class="form-group">
                     <input
                        type="password"
                        name="password"
                        class="form-control"
                        placeholder="Password"
                        required=""
                     />
                  </div>

                  <input type="submit" value="Login" class="btn" />

                  <p class="text-center">
                     Not yet registered?
                     Please <a href="{% url 'register' %}">register</a>.
                  </p>

               </form>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
